/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-work-projects {
  h6 {
    margin: 0;
    font-weight: 700;
    letter-spacing: 5.6px;
  }
}
